body {
  padding: 20px;
}
.cards {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-left: -30px;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: calc(25% - 30px);
  margin-left: 30px;
}

.card-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-content {
  padding: 25px;
}

.card-title {
  font-weight: 500;
  margin-bottom: 25px;
}

.card-user {
  display: flex;
  align-items: center;
}
.card-user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
}
.card-user-info {
}
.card-user-top {
}
.card-user-name {
}
.card-user-game {
}
